footer.page-footer {
    width: 100%;
    background-color: #263238;
    .footer-copyright {
        .container {
            a {
                font-weight: 500;
                font-size: 2em;
            }
        }
    }
}